<template>
    <div class="container-full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Logged in </h1>
                    <pre>
                        {{ resp }}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                resp: []
            }
        },
        methods: {

        },
        created() {
            this.$http.get('api/testuser')
                .then(function (response) {
                    this.resp = response;
                })
        }
    }

</script>