<template>
    <div class="container-full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>User Login</h3>
                    <form v-on:submit.prevent="login()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input v-model="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input v-model="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data() {
            return {
                email: 'apostezjon@gmail.com',
                password: 'asdasdasd'
            }
        },
        methods: {
            login: function () {
                var data = {
                    client_id: this.$myconf.auth.client_id,
                    client_secret: this.$myconf.auth.client_secret,
                    grant_type: this.$myconf.auth.grant_type,
                    username: this.email,
                    password: this.password
                }
                this.$http.post('oauth/token', data)
                    .then(function (response) {
                        this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now());
                        this.$router.push('/panel');

                    });
            }
        }
    }

</script>