<template>
  <div class="container-full">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          Footer
        </div>
      </div>
    </div>
  </div>
</template>