<template>
  <div class="container-full">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Testowa aplikacja</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <router-link to="/" active-class="active" exact>Home</router-link>
                </li>
                <li>
                  <router-link to="/login" active-class="active">Login</router-link>
                </li>
                <li>
                  <router-link to="/register" active-class="active">Register</router-link>
                </li>
                <li>
                  <a href="" v-on:click="logout()" active-class="active">Logout</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
      }
    },
    methods: {
      logout: function () {
        this.$auth.destroyToken();
        this.$router.push('/login');
      }
    }
  }

</script>