<template>
    <div class="container-full">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Hello</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        
    }
</script>