<template>
  <div id="app">
    <appHeader></appHeader>
    <router-view></router-view>
    <appFooter></appFooter>
  </div>
</template>

<script>
  import Header from './components/partials/Header.vue';
  import Footer from './components/partials/Footer.vue';
  export default {
    components: {
      appHeader: Header,
      appFooter: Footer,
    },
    name: 'app',
    data() {
      return {
      }
    }
  }

</script>